* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 15px;
    font-family: sans-serif,Arial, Helvetica, sans-serif;
}
#head{
    height: 50px;
    background-color: black;
    
}
#head span{
    font-size: 18px;
    padding: 25px;
    
}
#head a{
    font-size: 18px;
    padding: 25px;
}
/* modal */

#modalDangnhap  .form-control {
    width: 80%;
}

#modalDangnhap .form-input input {
    margin-left: 10%;
}
#modalDangnhap .nav-tabs .nav-link.active{
    color: black;
}
#modalDangnhap a {
    color: cyan;
}
#modalDangnhap .btn-dark{
    color: cyan;
}
#modalDangnhap .nav-item{
    width: 50%;
}
#modalDangnhap span {
    margin-left: 10%;
}
#main-nav{
    height: 130px;
    background-color: rgb(250, 245, 245);
}
#main-nav .nav li:hover >a {
    color :black; 
    background-color: rgb(102, 93, 93);
    
}
#main-nav li >a{
    color: black;
    font-size: 20px;
    font-weight: bold;
   
   
}
#main-nav .menu {
    padding-top: 40px;
    
}
#main-nav .col-2{
    width: 3%;
    height: 130px;
   
    display:block;
}
#head .search {
    width: 60% !important;
}




#main-nav li:hover .dropdown-menu{
    display: block;

}


/* size */
@media (max-width:700px) {
    .nav {
        display: none;
    }
    #main-nav img {
        display: block;
    }
    #main-nav .sub-nav {
        display: block;
    }

}
@media (max-width:650px) {
    .form-inline {
        display: none;
    }
}
#slider{
    height: 700px;
    width: 100%;
    
}
#slider .carousel-inner img {
    width: 100%;
    height: 700px;
}
/* ::content */
#content{
    height: 800px;
   
}
#content .navbar {
    height: 800px;
    border-right: 1px solid rgb(20, 17, 17);
    
}

#content .nav-doc{
    width: 20%;
    height: 800px;
   
    font-size: 25px;
    float: left;
}
#content .nav-doc ul{
    padding: 55px;
}
#content .nav-doc ul >li{
    padding: 20px;
}
#content .information {
    width: 80%;
    height: 800px;
    /* border: 1px solid black; */
    float: right;
    padding: 25px;
    font-size: 25px;  
}
#content .information  p{
    float: right;
    padding: 50px 400px 50px 50px;
}

/* footer */
#footer{
    height: 100px;
    background-color: rgb(7, 5, 5);
    font-size: 20px;
}
#footer p{
    padding: 15px;
}