* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 15px;
    font-family: sans-serif,Arial, Helvetica, sans-serif;
}
#head{
    height: 50px;
    background-color: black;
    
}
#head span{
    font-size: 18px;
    padding: 25px;
    
}
#head a{
    font-size: 18px;
    padding: 25px ;
}
/* modal */

#modalDangnhap  .form-control {
    width: 80%;
}

#modalDangnhap .form-input input {
    margin-left: 10%;
}
#modalDangnhap .nav-tabs .nav-link.active{
    color: black;
}
#modalDangnhap a {
    color: cyan;
}
#modalDangnhap .btn-dark{
    color: cyan;
}
#modalDangnhap .nav-item{
    width: 50%;
}
#modalDangnhap span {
    margin-left: 10%;
}
#main-nav{
    height: 130px;
    background-color: rgb(250, 245, 245);
}
#main-nav .nav li:hover >a {
    color :black; 
    background-color: rgb(29, 107, 180);
    
}

#main-nav li >a{
    color: black;
    font-size: 20px;
    font-weight: bold;
   
   
}
#main-nav .dropdown-menu :hover >a{
    background-color: #fff;
}
#main-nav .menu {
    padding-top: 40px;
    
}
#main-nav .col-2{
    width: 3%;
    height: 130px;
   
    display:block;
}
#head .search {
    width: 60% !important;
}




#main-nav li:hover .dropdown-menu{
    display: block;

}


#slider{
    height: 700px;
    width: 100%;
    
}
#slider .carousel-inner img {
    width: 100%;
    height: 700px;
}
/* ::content */
#content{
    height: 1100px;
    background-color: black;
}
#content .sp {
    width: 100%;
    height: 500px;
   
}

#content .sp-left {
    float: left;
    width: 50%;
}
#content .sp-right {
    float: right;
    width: 50%;
}
#content .sp-bottom{
    width: 100%;
    height: 500px;
}
#content .sp-bottom-left{
    float: left;
    width: 50%;
}
#content .sp-bottom-rigth{
    float: right;
    width: 50%;
}
#content .sub-sanpham {
    text-align: center;
    height: 400px;
    padding: 0 50px;
    margin-top: 50px;
    border-right: 1px solid rgb(194, 194, 194);
    
}
#content .sub-sanpham img {
    width: 70% ;
    margin: 3% 13% ;
    height: 80%;

}
#content .sub-sanpham a {
    text-decoration: none;
    color: rgb(245, 237, 237);
}
#content .sub-sanpham h2:hover {
    color: rgb(235, 6, 6);
   
}
#content .sub-sanpham p{
    opacity: 0.5;
    font-size: 25px;
    color: rgb(252, 251, 250);
   
}


/* footer */
#footer{
    height: 100px;
    background-color: black;
    font-size: 20px;
}
#footer p{
    padding: 15px;
}
/* size */
@media (max-width:900px) {
    #head .hotline {
        display: none;
    }
    #main-nav .logo {
        height: 100px;
        margin-top: 20px;
        
    }
    #main-nav {
        height: 90px;
    }
    #main-nav .logo{
        height: 90px;
        margin-top: 0;
    }
    #main-nav .menu{
        height: 90px;
        padding-top: 20px;
    }
    #main-nav .dropdown-menu {
        margin-top: 0;
    }
    #head .login {
        width: 50% !important;
        flex: none;
        max-width: none;
        
    }
   
}
